.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110%;
    height: 100px;
    padding: 30px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #dddddd;
    border-radius: 10px;
}



.subtotal_gift {
    display: flex;
    align-items: center;
}




.subtotal_gift > input {
    margin-right: 5px;
}



.subtotal > button {
    background: greenyellow;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: greenyellow, greenyellow, rgb(7, 223, 0);
    color: rgb(0, 0, 0);
}

